.AppBar {
  height: 3.4rem;

  span {
    color: white;
  }

  a {
    margin-left: 50px;
  }
}

.logo {
  top: 12px;
  width: 150px;
  position: absolute;
  left: 75px;
}

.navi {
  margin-left: 800px;
}