@import "theme/default";

.container {
  border-right: 1px solid $primary-color;
  margin-top: 10px;
  padding: 10px;

  h5 {
    font-size: 18px !important;
  }
}

.title {
  color: $second-color;
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
  margin: 50px 0 5px 0;
  text-align: center;

  &:after {
    width: 70px;
    height: 1px;
    content: " ";
    margin: 6px auto 0;
    display: block;
    background: $second-color;
  }
}

.Card {
  width: 250px;
  height: 300px;
}